
<fieldset class="shield-form-demo mb-4 px-4 pb-2">
    <legend>demo account</legend>
    <p><small><b>Username: </b><%= Lesli.config.company[:email] %></small></label>
    <p><small><b>Password: </b><%= Lesli.config.security[:password] %></small></p>
</fieldset>
