<p style="color: green"><%= notice %></p>

<% content_for :title, "Roles" %>

<h1>Roles</h1>

<div id="user_roles">
  <% @user_roles.each do |user_role| %>
    <%= render user_role %>
    <p>
      <%= link_to "Show this role", user_role %>
    </p>
  <% end %>
</div>

<%= link_to "New role", new_user_role_path %>
