<div class="box">
    <%= render(LesliView::Elements::Button.new('Revoke access')) %>
    <%= render(LesliView::Elements::Button.new('Set password as expired')) %>
    <%= render(LesliView::Elements::Button.new('Force password update')) %>
</div>
